<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recipe</title>
  </head>
  <body>
    <h3>Create the recipe</h3>
    <form action="/recipes" method="post">

      <label for="recipe_name">Recipe Name: </label>
      <input type="text" id="recipe_name" name="name">

      <label for="recipe_ingredients">Recipe Ingredients: </label>
      <input type="text" id="recipe_ingredients" name="ingredients">

      <label for="recipe_cook_time">Recipe Cook Time: </label>
      <input type="text" id="recipe_cook_time" name="cook_time">

      <input type="submit" value="Submit">
    </form>
  </body>
</html>
